.header {
  font-family: myfont;
  color: rgb(173, 173, 51);
  margin-top: 5000px;
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
}

.nav{
  margin-top: 10px;
  margin-bottom: 50px;
}

.vorstellung{
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-text{
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.text{
  font-family: myfont;
  color: aquamarine;
}
 /* unvisited link */
 a:link {
  color: aquamarine;
  text-decoration: none;
}



/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
} 

ul{
  list-style-type: none;
}

@font-face{
  font-family: myfont;
  src: url(boo.ttf);
}

body{
  background-color: rgb(41, 38, 38);
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  border-color: green ;
  border-width: 3px;
  -ms-layout-grid-line: auto;
}
.grid-child{
  background-color: rgb(6, 8, 8);
  border-width:2px;
  border-style:solid;
  border-color:rgb(112, 24, 24);
  border-radius: 4%;
  max-width: 200px;
}